flow 2.txt
[{"id":"65dc612b.e3353","type":"inject","z":"48efdeb8.09e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":130,"y":240,"wires":[["d9ea69b9.3c7328"]]},{"id":"d9ea69b9.3c7328","type":"function","z":"48efdeb8.09e04","name":"payload","func":"msg.headers={\n    deviceKey: \"PqOTzD9oFiqHsRDT\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["1b91c80b.ed6d18","4b3219f1.010578"]]},{"id":"1b91c80b.ed6d18","type":"http request","z":"48efdeb8.09e04","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DXIHsiDT/datachannels/Temperature/datapoints.csv","tls":"","x":499,"y":307,"wires":[["784ca951.16b318","34433757.503a88"]]},{"id":"784ca951.16b318","type":"http response","z":"48efdeb8.09e04","name":"","statusCode":"","headers":{},"x":690,"y":320,"wires":[]},{"id":"34433757.503a88","type":"debug","z":"48efdeb8.09e04","name":"","active":true,"console":"false","complete":"false","x":673,"y":424,"wires":[]},{"id":"4b3219f1.010578","type":"http request","z":"48efdeb8.09e04","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DXIHsiDT/datachannels/Humidity/datapoints.csv","tls":"","x":550,"y":180,"wires":[["784ca951.16b318","34433757.503a88"]]}]