flow 1.txt
[{"id":"43570d87.e1ecf4","type":"rpi-gpio in","z":"6cde16c9.176268","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":260,"wires":[["2713bc00.f47e74","397708c4.722cd8"]]},{"id":"e3620cdb.cfced","type":"rpi-gpio out","z":"6cde16c9.176268","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":652,"y":247,"wires":[]},{"id":"2713bc00.f47e74","type":"switch","z":"6cde16c9.176268","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":270,"y":260,"wires":[["4a6d641c.d02f8c"],["7032821a.ce14ac"]]},{"id":"7032821a.ce14ac","type":"change","z":"6cde16c9.176268","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["e3620cdb.cfced"]]},{"id":"4a6d641c.d02f8c","type":"change","z":"6cde16c9.176268","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["e3620cdb.cfced"]]},{"id":"397708c4.722cd8","type":"debug","z":"6cde16c9.176268","name":"","active":true,"console":"false","complete":"payload","x":390,"y":120,"wires":[]}]