flow 3.txt
[{"id":"416b078d.2b0b38","type":"inject","z":"7c4bd3d.e16c02c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":150,"y":220,"wires":[["d26e7ad4.17cf58"]]},{"id":"d26e7ad4.17cf58","type":"function","z":"7c4bd3d.e16c02c","name":"payload","func":"msg.headers={\n    deviceKey: \"PqOTzD9oFiqHsRDT\"\n};\nmsg.payload=\"Temperature,,877777\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["1c13cde.930e932"]]},{"id":"1c13cde.930e932","type":"http request","z":"7c4bd3d.e16c02c","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DXIHsiDT/datapoints.csv","tls":"","x":519,"y":287,"wires":[["1585122e.fc936e","30b1f97.ab75506"]]},{"id":"1585122e.fc936e","type":"http response","z":"7c4bd3d.e16c02c","name":"","statusCode":"","headers":{},"x":710,"y":300,"wires":[]},{"id":"30b1f97.ab75506","type":"debug","z":"7c4bd3d.e16c02c","name":"","active":true,"console":"false","complete":"false","x":693,"y":404,"wires":[]}]